* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: geneva;
}


body {
  background: lightgrey;
}


h2 {
  margin-left: 50px;
}



.member__heading {
  font-size: 35px;
  color: white;
  margin: 50px;
}

.member__text {
  background-color: wheat;
}

.member__label {
  font-size: 20px;
  margin: 50px;
}

.member__label--heading {
  font-size: 25px;
  margin: 50px;
  font-weight: bold;
}
